@page
@model CreateModel
<h1>Create Form</h1>
<form method="post">
<div class="mt-3 card mb-3 p-3">
<input type="text" placeholder="Enter CustomerName" class="form-control mb-3"
asp-for="CustomerName" />
<input type="text" placeholder="Enter ProductName" class="form-control mb-3"
asp-for="ProductName"/>
<input type="number" placeholder="Enter Quantity" class="form-control mb-3" asp-for="Quantity"/>
<input type="number" placeholder="Enter Price" class="form-control mb-3" asp-for="Price"/>
<input type="datetime-local" placeholder="Enter OrderDate" class="form-control mb-3" asp-for="OrderDate"/>

<button type="submit" class="btn btn-primary w-100">Create order</button>
</div>
</form>